.imgContainer {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
  overflow: hidden;

  height: 15rem;
  border-radius: 1rem;
  margin-bottom: 1.3rem;
}

.imgContainer img {
  position: absolute;
  object-position: top;
  height: 100%;
    width: 100%;
  /* width: fit-content; */
  object-fit: cover;
  cursor: pointer;
}
.imgContainer img:hover {
  transition: all 0.5s ease-in-out;
 
}

.date {
  font-weight: 500;
  margin-top: 4rem !important;
}

.texts {
  transition: all 0.5s;
  text-align: left;
  margin: 5rem 0 0 0;
  cursor: pointer;
  font-size: 0rem;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  min-width: 0 0 0 0;
  display: -webkit-box;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-decoration: none;
  color: #000;
}
.excerpt {
  margin-top: 1.2rem;
  padding-bottom: 2rem;
  color: #000;
display:  block; 
  display: -webkit-box;  
  height: 1em; 
   line-height: 1.3em;  -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;  overflow: hidden;
      text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .imgContainer img {
    position: absolute;
    object-position: top;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    object-fit: cover;
    cursor: pointer;
  }
}
@media screen and (max-width: 400px) {
  .imgContainer img {
    position: absolute;
    object-position: top;
    height: 100%;
    width: 100%;
    /* width: fit-content; */
    object-fit: cover;
    cursor: pointer;
  }
}