.widget{
     position: sticky;
     margin-left: 5%;
     margin-top: 0; 
     margin-bottom: 30rem;

}
.img{
    width: 0rem;
  height: 0rem;
}
@media screen and (max-width: 1000px) {
    .widget{
        /* position: fixed; */
        margin-left: 0%; 
   
   }
}
div .contentImg{
    width:10%;
    border-radius: 10px;
  height: 0rem;
  margin: auto;
  margin-bottom: 2.5rem;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;

}
/* @media (min-width: 992px) {
  
} */

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}


.date{
    color: #707A8A;
    font-weight: 600;
    margin-bottom: 1rem;
}


@media screen and (max-width: 900px) {
   
        .row {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0px;
        }
}