
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");



html,
body {

  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.excerpt{
  color: red;
}




* {
  box-sizing: border-box;
}
strong{
  color: #1E2329;
}



  a :-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  a {

  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  color: #1E2329;
  text-decoration: none;
} 
 p a{
  
    cursor: pointer;
    text-decoration: underline;
      color: rgb(0, 68, 255);
  }
  div span{
    color: #2d333a;
    
  }
  div{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 20px;
  
  width: 100%;
   
  }
  @media screen and (max-width: 768px) {
    div{
     font-weight: 100;
   
    }
    p{
  font-size: 19px;
  font-weight: 400;

}
  }
  @media screen and (max-width: 768px) {
    div{
   
     width: fit-content;
      
     }
  }