.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem; 
   text-decoration: none;
}

.main {
  text-decoration: none;
 color: #1E2329;;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  padding: 6rem;
}
.hero{
  padding: 13rem;
  text-align: center;
  font-weight: 700;
  color: aliceblue;
   background: rgb(26, 26, 125);
}

@media screen and (max-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem 2rem;

    padding: 2rem 1.3rem;
}
}

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem 2rem;

    padding: 2rem 1.3rem;
}
  }

