
.main {
  text-decoration: none;
 color: #1E2329;;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  padding: 6rem;
  width: 100%;
}
.hero{
  width: 100%;
  padding: 13rem 0;
  text-align: center;
  font-weight: 700;
  color: aliceblue;
   background: rgb(26, 26, 125);
}

@media screen and (max-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem 2rem;

    padding: 2rem 1.3rem;
}
}

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem 2rem;

    padding: 2rem 1.3rem;
}
  }

