
.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  z-index: 200;
}



.navigationMenu {
  /* margin-left: auto; */
  color: black;
}
.links{
  font-size: 14px;
  padding-top: .8rem;
  color: #000;
  margin: 0 2.8rem;
  font-weight: 500;

}
.btn2{
 
  border:2px solid #2642af;
  border-radius: .3rem;
  padding: .4rem;
}
.btn1{
  border:2px solid #2642af;
  border-radius: .3rem;
  padding: .4rem;
}


.navigationMenu ul {
    display: flex;
    padding: 0;
  }
  .navigationMenu li {
  
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigationMenu li a {
  
    text-decoration: none;
    display: block;
    width: 100%;
    
  }

  .hamburger {
   
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: #2642af;
  }
  .logo {
    width: 200rem;
    height: 60px;
    margin-left: 50px;
  }
  @media screen and (max-width: 920px) {
    .links{
      font-size: 10px;
      padding-top: .5rem;
      color: #000;
      margin-left:0rem;
      margin-right: 0rem;
    
    }
    .logo {
      width: 10rem;
      height: 3.5rem;
      margin-left: 10px;
    }
  }

  
  @media screen and (max-width: 1100px) {
    .navigation{
      width: 100%;
      
    }
    .links{
      font-size: 14px;
      
      font-weight: 500;
      color: #000;
      margin: 0 1.8rem;
    
    }
    .navigationMenu ul {display: none;}
    .hamburger {
      display: block;
    } 
       .expanded ul {
          display: block;
          translate:all 1s ;
        }
    
        .navigationMenu ul {
         
          position: absolute;
          top: 60px;
          left: 0;
         
          flex-direction: column;
       margin: 0rem;
       
          width: 100%;
          height: calc(80vh - 77px);
          background-color: white;
        
        }
        .navigationMenu li {
        padding: 1rem;
          text-align: center;
          margin: 0;
        }
        .navigationMenu li a {
         
         display: inline;
          width: 100%;
         
        }
        .navigationMenu li:hover {
          background-color: #eee;
        }
        .btn2{
        
          color: #2642af;
          border-radius: .3rem;
          padding: .5rem 2.5rem;
          font-weight: 500;
        }
        .btn1{
      
          border-radius: .3rem;
          padding: .5rem 2rem;
        }
      }
  

      @media screen and (max-width: 768px) {
      .navigationMenu ul {

     
        height: calc(85vh - 77px);
     
      
      }}