.img{height: 100px;
    width: 230px;
border-radius: 20px;
margin-bottom: 0px;
object-fit: cover;
cursor: pointer;
}

.pb{
    padding-bottom: 10px;
    width: 17rem;
}
.imgc{
    height: 20px;
    width: 20px;
    background-color:red;
    padding: 40px;
}
.widget{
    width:20rem;
    float:right;
    margin: auto;
}
@media screen and (max-width: 1000px) {
    .img{height: 100px;
        width: 200px;
    border-radius: 20px;
    margin-bottom: 0px;
    object-fit: cover;
    }
}